*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}
header a{
    color: #0f0f0f;
}
.logo a{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    font-size: 20px;
}
.logo-item{
    background: linear-gradient(#9a12fa, #ff842d);
    padding: 10px;
    border-radius: 50%;
}
.logo-item{
    font-weight: 400;
}
nav ul{
    display: flex;
    column-gap: 30px;
}
nav ul li a:hover{
    color: #9c1af6;
}
.header-top-btn{
    display: flex;
    column-gap: 15px;
}
.header-top-btn button{
    padding: 10px;
    border: none;
    background: transparent;
    border-radius: 18px;
}
.header-top-btn button:hover{
    background: #aeaeae;
}
.header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
    color: #ffffff;
    background: linear-gradient(135deg, #9a12fa, #e639ad, #ff871d);
    row-gap: 20px;
}
.header-bottom h1{
    font-size: 60px;
    font-weight: 550;
    width: 770px;
    line-height: 65px;
    text-align: center;
}
.header-bottom p{
    font-size: 20px;
    font-weight: 400;
    width: 770px;
    text-align: center;
}
.header-bottom-btn button{
    border: none;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    color: #9a12fa;
    font-weight: 500;
    cursor: pointer;
}
#btn-hover{
    color: transparent;
}
#btn-hover:hover{
    background: transparent;
    outline: 1px solid #ffffff;
    color: #0f0f0f;
}
.advantages{
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
    column-gap: 30px;
    text-align: center;
}
.catalog-cards{
    max-width: 280px;
    display: flex;
    align-items: center;
    column-gap: 15px;

}
.card{
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    max-width: 350px;
}
.advantages article span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: #f3e8ff;
    border-radius: 50%;
    color: #9612f4;
    margin-bottom: 16px;
}
.advantages article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages article h3{
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: 500;
    line-height: 36px;
}
.advantages article p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #f9fafc
}
.catalog{
    display: flex;
    flex-direction: column;
    padding: 65px 0;

}
.card img{
    width: 350px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;
}
.catalog h2{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}
.catalog > p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #aeaeae;
    margin-bottom: 50px;
}
.label{
    font-size: 12px;
    line-height: 16px;
    color: #9c1af6;
    text-transform: uppercase;

}
.card-text{
    padding: 16px;
}
.card-text h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 10px 0;
}
.card-text p{
    font-size: 14px;
    line-height: 24px;
    color: #5a5859;
    margin-bottom: 10px;
    font-weight: 400;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.cost{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #9c1af6;
}
.instock{
    font-size: 12px;
    line-height: 16px;
    color: #62f140;
    margin-bottom: 20px;
}
.card-btn{
    display: flex;
    width: 100%;
    aligh-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background: #9c1af6;
    color: white;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
}
.card-btn:hover{
    background: #9c1af6;

}
.catalog button{
    background: #9c1af6;
}
.card:hover{

}
.catalog > button{
    width: fit-content;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 10px;
    background: #9c1af6;
    color: white;
    border: none;
    cursor: pointer;
}