*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}
header a{
    color: #0f0f0f;
}
.logo a{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    font-size: 20px;
}
.logo-item{
    background: linear-gradient(#9a12fa, #ff842d);
    padding: 10px;
    border-radius: 50%;
}
.logo-item{
    font-weight: 400;
}
nav ul{
    display: flex;
    column-gap: 30px;
}
nav ul li a:hover{
    color: #9c1af6;
}
.header-top-btn{
    display: flex;
    column-gap: 15px;
}
.header-top-btn button{
    padding: 10px;
    border: none;
    background: transparent;
    border-radius: 18px;
}
.header-top-btn button:hover{
    background: #aeaeae;
}
.header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
    color: #ffffff;
    background: linear-gradient(135deg, #9a12fa, #e639ad, #ff871d);
    row-gap: 20px;
}
.header-bottom h1{
    font-size: 60px;
    font-weight: 550;
    width: 770px;
    line-height: 65px;
    text-align: center;
}
.header-bottom p{
    font-size: 20px;
    font-weight: 400;
    width: 770px;
    text-align: center;
}
.header-bottom-btn button{
    border: none;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    color: #9a12fa;
    font-weight: 500;
    cursor: pointer;
}
#btn-hover{
    color: transparent;
}
#btn-hover:hover{
    background: transparent;
    outline: 1px solid #ffffff;
    color: #0f0f0f;
}
.advantages{
    display: flex;
    justify-content: center;
    padding: 65px 0;
}
.advantages article svg{
    background: #f4e8ff;
    border-radius: 50%;
    padding: 30px;
    color: #0f0f0f;
}
