.wrapper{
    max-width: 800px;
    width: 40%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #f3f4f5;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}
html{
    background: radial-gradient(#eff6ff, #f6f8fd);
    font-family: SansSerif, sans-serif;
}
h1{
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    color: #4843ef;
    padding: 20px 0 0 0;
}
h3{
    color: #4a5d6d;
    font-size: 16px;
 }
p{
    color: #4a5d6d;
    font-size: 14px;
    margin-bottom: 30px;
}
.person-infa{
    background: #eff3ff;
    border-radius: 20px;
    margin: 0 30px 20px 30px;
}
h2{
    color: #143f84;
    font-size: 20px;
    text-align: start;
    padding: 20px 0 20px 15px;
}
.form-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}
.profesion-infa{
    background: #f8f5ff;
    border-radius: 20px;
    margin: 0 30px 20px 30px;
}
.extra-infa{
    background: #fbf4fc;
    border-radius: 20px;
    margin: 0 30px 20px 30px;
}
input{
    height: 50px;
    width: 310px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border-left: #4381e8 solid 3px;
    border-bottom: 1px solid #d3d7db;
    border-right: 3px solid #d3d7db;
    border-top: 3px solid #d3d7db;
    padding-left: 15px;
}
label{
    text-align: start;
}
.desire{
    border-left: #d3d7db solid 3px;
}
.technologie-skills{
    width: 90%;
}
